body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
    text-align: center;
    border: solid 2px yellow;
    color: #777;
}

header {
    left: 30px;
    width: 960px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: white;
}

nav {
    left: 30px;
    width: 960px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: white;

section {
    float: left;
    left: 30px;
    width: 495px;
    margin-bottom: 20px;
    border: solid 3px red;
    background-color: white;
}

article {
    float: left;
    left: 80px;
    width: 495px;
    margin-bottom: 20px;
    color: #ebebeb;
    background-color: grey;
}

aside {
    float: left;
    right: 80px;
    width: 40%;
    margin-bottom: 20px;
    height: 400px;
    background-color: white;
}

footer {
    left: 30px;
    clear: both;
    bottom: 400px;
    margin-bottom: 20px;
    border: solid 3px red;
    background-color: white;
}
